/*
!/.gitignore
!/dockeRun
!/LICENSE
!/README.md
!/Dockerfile

!/cplusplus-dev*
!/golang*
!/golang-tmpl*
!/laravel-dev*
!/nginx-grunt*
!/nginx-php56*
!/node*
!/node-tmpl*
!/python2*
!/python2-tmpl*
!/python3*
!/python3-tmpl*
!/ruby_or_rails*
!/ruby_or_rails-tmpl*
!/slideshow-pastpress*
!/debian-bash*
